@import '../../styles/colors.scss';

.about {
    .castom-section {
        h2 {
            color: $title-color;
            margin: 100px auto 30px;
            font-family: "Raleway";
        }

        .divider {
            background-color: $icon-color;
            width: 64px;
            height: 2px;
            margin: 0px auto 30px;
        }

        p {
            color: $text-color;
            margin-bottom: 80px;
        }
    }

    .process-discr {
        .option-block-item {
            width: 33.3%;
            float: left;

            .option-icon-block {
                margin: 0 auto 30px;
                width: 70px;
                height: 70px;
                border: 2px solid $icon-color;
                border-radius: 50%;
                text-align: center;

                i {
                    line-height: 70px;
                    color: $icon-color;
                    font-size: 30px;
                }

                i:hover {
                    font-size: 34px;
                }

            }

            .option-discription {
                font-size: 14px;
                line-height: 20px;
                font-family: "Open Sans";
                color: $text-color;
                font-weight: 400;
                padding: 0px 2px;

            }

            .option-title {
                font-size: 20px;
                color: $title-color;
                font-family: "Open Sans";
                font-weight: 700;
                margin-bottom: 30px;
            }
        }
    }
}